# Telegram Bot
TELEGRAM_BOT_TOKEN=8546417746:AAHfGRyLraU3I-UzBYFfQ1Tns8tn1jl0nlo

# PostgreSQL
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=your_password_here
DB_NAME=manager_bot

# App
NODE_ENV=development
PORT=3000
